#ok:hover{
    text-shadow: -1px rgb(247, 248, 248);
    color: rgb(214, 22, 22);
}

/* #Jumlah SKS{
    
} */

body{
    background-image: url("poto/unsika.png ");
    background-size: contain;
}




